.manage_experience_page {
    max-width: 60%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
